#drum-machine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 50%;
  max-width: 100%;
  background-color: #757575;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiM4MDgwODAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNjU1OTk5OTk5OTk5OTk5OSIvPjxzdG9wIHN0b3AtY29sb3I9IiNhOWE5YTkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  /* Android 2.3 */
  /* IE10+ */
  background-image: radial-gradient(ellipse farthest-corner at left top, gray 0%, #5b5b5b 65.6%, darkgray 100%);
  background-image: -ms-radial-gradient(left top, ellipse farthest-corner, gray 0%, #5b5b5b 65.6%, darkgray 100%);
  border-radius: 10px;
}

#drum-machine .drum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 50px auto 10px auto;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

#drum-machine .drum-wrapper .drum-pad {
  width: 65px;
  height: 55px !important;
  text-align: center;
  color: black;
  padding: 5px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 3;
  border-radius: 5px;
  border: 2px #757575 solid;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-box-shadow: -5px -2px 35px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -5px -2px 35px -6px rgba(0, 0, 0, 0.75);
}

#drum-machine .drum-wrapper .drum-pad:hover,
#drum-machine .drum-wrapper :focus {
  cursor: pointer;
  color: white;
  outline: none;
}

#drum-machine .drum-wrapper #tom-tom-1 {
  background: aqua;
}

#drum-machine .drum-wrapper #tom-tom-1:hover,
#drum-machine .drum-wrapper #tom-tom-1:focus {
  -webkit-box-shadow: 0 0 10px aqua, 0 0 20px aqua;
          box-shadow: 0 0 10px aqua, 0 0 20px aqua;
}

#drum-machine .drum-wrapper #side-base {
  background: purple;
}

#drum-machine .drum-wrapper #side-base:hover,
#drum-machine .drum-wrapper #side-base:focus {
  -webkit-box-shadow: 0 0 10px purple, 0 0 20px purple;
          box-shadow: 0 0 10px purple, 0 0 20px purple;
}

#drum-machine .drum-wrapper #tom-tom-2 {
  background: green;
}

#drum-machine .drum-wrapper #tom-tom-2:hover,
#drum-machine .drum-wrapper #tom-tom-2:focus {
  -webkit-box-shadow: 0 0 10px greenyellow, 0 0 20px greenyellow;
          box-shadow: 0 0 10px greenyellow, 0 0 20px greenyellow;
}

#drum-machine .drum-wrapper #close-hi-hat {
  background: orange;
}

#drum-machine .drum-wrapper #close-hi-hat:hover,
#drum-machine .drum-wrapper #close-hi-hat:focus {
  -webkit-box-shadow: 0 0 10px orange, 0 0 20px orange;
          box-shadow: 0 0 10px orange, 0 0 20px orange;
}

#drum-machine .drum-wrapper #cymbal-1 {
  background: lightsalmon;
}

#drum-machine .drum-wrapper #cymbal-1:hover,
#drum-machine .drum-wrapper #cymbal-1:focus {
  -webkit-box-shadow: 0 0 10px lightcoral, 0 0 20px lightcoral;
          box-shadow: 0 0 10px lightcoral, 0 0 20px lightcoral;
}

#drum-machine .drum-wrapper #close-hi-hat-2 {
  background: #f04243;
}

#drum-machine .drum-wrapper #close-hi-hat-2:hover,
#drum-machine .drum-wrapper #close-hi-hat-2:focus {
  -webkit-box-shadow: 0 0 10px red, 0 0 20px red;
          box-shadow: 0 0 10px red, 0 0 20px red;
}

#drum-machine .drum-wrapper #kick {
  background: blueviolet;
}

#drum-machine .drum-wrapper #kick:hover {
  -webkit-box-shadow: 0 0 10px violet, 0 0 20px violet;
          box-shadow: 0 0 10px violet, 0 0 20px violet;
}

#drum-machine .drum-wrapper #kick-hi-hat {
  background: grey;
}

#drum-machine .drum-wrapper #kick-hi-hat:hover,
#drum-machine .drum-wrapper #kick-hi-hat:focus {
  -webkit-box-shadow: 0 0 10px silver, 0 0 20px silver;
          box-shadow: 0 0 10px silver, 0 0 20px silver;
}

#drum-machine .drum-wrapper #cymbal-2 {
  background: yellowgreen;
}

#drum-machine .drum-wrapper #cymbal-2:hover,
#drum-machine .drum-wrapper #cymbal-2:focus {
  -webkit-box-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen;
          box-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen;
}

@media (max-width: 1500px) {
  #drum-machine {
    width: 750px;
  }
}

@media (max-width: 778px) {
  #drum-machine {
    width: 100%;
  }
  #drum-machine #display {
    -ms-flex-preferred-size: 72%;
        flex-basis: 72%;
  }
}

@media (max-width: 644px) {
  #drum-machine {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #drum-machine #display {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #drum-machine #display h1 {
    text-align: center;
  }
  #drum-machine .drum-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 300px;
  }
}
/*# sourceMappingURL=Kit.css.map */