@import url("https://fonts.googleapis.com/css?family=Orbitron");
@font-face {
  font-family: "DS-DIGITAL";
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGI.TTF");
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGIB.TTF");
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGIT.TTF");
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGII.TTF");
}

html,
body,
#root {
  height: 100%;
  background: #333;
  font-family: "Orbitron", sans-serif;
}

.App {
  margin-top: 50px;
  height: 100%;
}

.App .section2,
.App .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .tom {
  height: 300px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .tom .tom1-container {
  position: relative;
  left: 70px;
}

.App .tom .tom2-container {
  position: relative;
  left: -40px;
}

.App .tt {
  width: 120px;
  height: 120px;
}

.App .t1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.App .t2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.App .c1 {
  height: 170px;
  position: relative;
  left: -30px;
}

.App .c2 {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.App .cym {
  position: relative;
  left: -8%;
  height: 150px;
  width: 150px;
  top: 10px;
}

.App .base {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.App .side-base {
  position: relative;
  left: 20px;
}

.App .play {
  -webkit-animation-name: play;
          animation-name: play;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
}

.App .play-cym2 {
  -webkit-animation-name: play-cym2;
          animation-name: play-cym2;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
}

.App .play-cym-sidekick {
  -webkit-animation-name: play-cym-sidekick;
          animation-name: play-cym-sidekick;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  position: relative;
}

@-webkit-keyframes play-cym-sidekick {
  0% {
    top: 0px;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    top: -20px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes play-cym-sidekick {
  0% {
    top: 0px;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    top: -20px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(initial);
            transform: rotate(initial);
  }
}

@keyframes play {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(initial);
            transform: rotate(initial);
  }
}

@-webkit-keyframes play-cym2 {
  0% {
    -webkit-transform: rotate(10deg) scaleX(-1);
            transform: rotate(10deg) scaleX(-1);
  }
  50% {
    -webkit-transform: rotate(-10deg) scaleX(-1);
            transform: rotate(-10deg) scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}

@keyframes play-cym2 {
  0% {
    -webkit-transform: rotate(10deg) scaleX(-1);
            transform: rotate(10deg) scaleX(-1);
  }
  50% {
    -webkit-transform: rotate(-10deg) scaleX(-1);
            transform: rotate(-10deg) scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}

@media (max-width: 644px) {
  .App .base {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .App .base img {
    height: 200px;
    width: 200px;
  }
  .App .c1,
  .App .side-base,
  .App .t1,
  .App .t2,
  .App .cym {
    height: 100px;
    width: 100px;
  }
  .App .side-base {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .tom1-container {
    top: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .tom2-container {
    top: 50px;
  }
  .cym {
    top: 80px !important;
    left: -12% !important;
  }
}

@media (max-width: 490px) {
  .App .tom1-container {
    left: 37% !important;
  }
}

@media (max-width: 1200px) {
  .App .cym {
    -ms-flex-item-align: start;
        align-self: flex-start;
    left: -12%;
  }
}

@media (max-width: 845px) {
  .App .cym {
    -ms-flex-item-align: start;
        align-self: flex-start;
    left: -17%;
  }
}
/*# sourceMappingURL=App.css.map */