html,
body,
#root {
  height: 100%;
}

.App {
  position: relative;
  top: 200px;
  height: 100%;
}

.App .section2,
.App .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .tom {
  height: 300px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .tom .tom1-container {
  position: relative;
  left: 70px;
}

.App .tom .tom2-container {
  position: relative;
  left: -40px;
}

.App .tt {
  width: 120px;
  height: 120px;
}

.App .t1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.App .t2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.App .c1 {
  height: 170px;
  position: relative;
  left: -30px;
}

.App .c2 {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.App .cym {
  position: relative;
  left: -8%;
  height: 150px;
  width: 150px;
  top: 10px;
}

.App .base {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.App .side-base {
  position: relative;
  left: 20px;
}

.App .play {
  -webkit-animation-name: play;
          animation-name: play;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
}

.App .play-cym2 {
  -webkit-animation-name: play-cym2;
          animation-name: play-cym2;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
}

.App .play-cym-sidekick {
  -webkit-animation-name: play-cym-sidekick;
          animation-name: play-cym-sidekick;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  position: relative;
}

@-webkit-keyframes play-cym-sidekick {
  0% {
    top: 0px;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    top: -20px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes play-cym-sidekick {
  0% {
    top: 0px;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    top: -20px;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(initial);
            transform: rotate(initial);
  }
}

@keyframes play {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(initial);
            transform: rotate(initial);
  }
}

@-webkit-keyframes play-cym2 {
  0% {
    -webkit-transform: rotate(10deg) scaleX(-1);
            transform: rotate(10deg) scaleX(-1);
  }
  50% {
    -webkit-transform: rotate(-10deg) scaleX(-1);
            transform: rotate(-10deg) scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}

@keyframes play-cym2 {
  0% {
    -webkit-transform: rotate(10deg) scaleX(-1);
            transform: rotate(10deg) scaleX(-1);
  }
  50% {
    -webkit-transform: rotate(-10deg) scaleX(-1);
            transform: rotate(-10deg) scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}
/*# sourceMappingURL=App.css.map */