@import url('https://fonts.googleapis.com/css?family=Orbitron');
@font-face{
  font-family: 'DS-DIGITAL';
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGI.TTF");
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGIB.TTF");
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGIT.TTF");
  src: url("https://res.cloudinary.com/drxsinkfw/raw/upload/v1539464452/DS-DIGII.TTF");
}
html,
body,
#root {
  height: 100%;
  background: #333;
  font-family: 'Orbitron', sans-serif;
}
h1 {
}
.App {
  // position: relative;
  // top: 200px;
  margin-top: 50px;
  height: 100%;
  // background: #131313;
  .section2,
  .section1 {
    display: flex;
    justify-content: center;
  }
  .tom {
    height: 300px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tom1-container {
      position: relative;
      left: 70px;
    }
    .tom2-container {
      position: relative;
      left: -40px;
    }
  }
  .tt {
    width: 120px;
    height: 120px;
  }
  .t1 {
    align-self: flex-end;
    transform: rotate(20deg);
  }
  .t2 {
    align-self: flex-start;
    transform: rotate(-20deg);
  }
  .c1 {
    height: 170px;
    position: relative;
    left: -30px;
  }
  .c2 {
    transform: scaleX(-1);
  }
  .cym {
    //   position: absolute;
    //   top: -150px;
    //   left: 40%;
    position: relative;
    left: -8%;
    height: 150px;
    width: 150px;
    top: 10px;
  }
  .base {
    align-self: flex-start;
  }
  .side-base {
    position: relative;
    left: 20px;
  }
  .play {
    animation-name: play;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-fill-mode: initial;
  }
  .play-cym2 {
    animation-name: play-cym2;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-fill-mode: initial;
  }
  .play-cym-sidekick {
    animation-name: play-cym-sidekick;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-fill-mode: initial;
    position: relative;
  }
  @keyframes play-cym-sidekick {
    0% {
      top: 0px;
      transform: rotate(-5deg);
    }
    50% {
      top: -20px;
      transform: rotate(5deg);
    }
    100% {
      top: 0px;
      transform: rotate(0deg);
    }
  }
  @keyframes play {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(initial);
    }
  }
  @keyframes play-cym2 {
    0% {
      transform: rotate(10deg) scaleX(-1);
      // transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg) scaleX(-1);
      // transform: rotate(-10deg);
    }
    100% {
      transform: scaleX(-1);
      // transform: rotate(initial);
    }
  }
}
